body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%auto;
    margin: 5%;
    background-color: aquamarine;
    background-image: url("imagem/vovo.png");
    background-repeat: repeat-y;
    background-origin: padding-box;
    background-size:auto;
}

header {
    margin-bottom: 5px;
}