body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: aquamarine;
    background-image: url("imagem/vovo2.png");
    background-size:cover;
}

header {
    margin-bottom: 5px;
}