#titulo-board {
    font-size: 4%;
    margin-bottom: 5%;
}

td {
    width:auto;
    height: 200px;
    border: 2px solid #000;
    text-align: center;
    cursor: pointer;
    padding: 0%;
    position: absloute;
}

#reiniciar{
    background-color: gray;
    color:black ;
    border: 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 15px;
    width: auto;
    height: 3cap;
}

#game-board {
    border-collapse:collapse;
    border-radius: 15px;
    table-layout: fixed;
    justify-content: center;
    width: 50%;
    height: 65%;
}

#titulo-tela{
    font-size: 22px;
    margin-bottom: 2%;
    margin-top: 3%;
}