caption {
    font-size: 22px;
    margin-bottom: 10px;
}

td {
    width: 200px;
    height: 200px;
    border: 2px solid #000;
    text-align: center;
    text-size-adjust: 100px;
    font-size: 100px;
    cursor: pointer;
    padding: 0%;
    position: absloute;
}

button{
    background-color: gray;
    color:black ;
    border: 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 15px;
    width: 8%;
    height: 3cap;
}

div{
    width: '100%';
    text-align: 'center';
    scale: '2';
    color: aquamarine;
}